<script>
  export let name;
  import FileUpload from "./FileUpload.svelte";
  let files = [];
</script>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>

<main>
  <h1>Hello {name}!</h1>
  <p>
    Visit the
    <a href="https://svelte.dev/tutorial">Svelte tutorial</a>
    to learn how to build Svelte apps.
  </p>
  <FileUpload bind:files={files}>
    <p slot="help1">Svelte wants you to select some files.</p>
    <ul slot="filelist">
      {#each files as f}
        <li>{f.name}</li>
      {/each}
    </ul>
  </FileUpload>
</main>
