<script>
  export let multiple = true;
  export let files = [];
  function handleChange(e) {
    files = Array.from(e.target.files);
  }
</script>

<input type="file" {multiple} on:change={handleChange} />
<slot name="help">
  <p >Select some files.</p>
</slot>
<slot name="filelist">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {#each files as f, i (i)}
        <tr>
          <td>{f.name}</td>
          <td>{f.size}</td>
          <td>{f.type}</td>
        </tr>
      {/each}
    </tbody>
  </table>
</slot>
